<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Sensor_de_Gas_IoT.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <Sensor_de_Gas_IoT.Properties.Settings>
            <setting name="PortName" serializeAs="String">
                <value>COM3</value>
            </setting>
            <setting name="BaudRate" serializeAs="String">
                <value>9600</value>
            </setting>
            <setting name="TwilioSid" serializeAs="String">
                <value>ACc91bb9a68cb30c23515025aca278e793</value>
            </setting>
            <setting name="TwilioAuthToken" serializeAs="String">
                <value>41cd6d1cbd536ac7f93f0f0159097a71</value>
            </setting>
            <setting name="TwilioPhone" serializeAs="String">
                <value>+19498284783</value>
            </setting>
            <setting name="TwilioTo" serializeAs="String">
                <value>+528672110473</value>
            </setting>
        </Sensor_de_Gas_IoT.Properties.Settings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>